doctype html
html(lang="zh_CN")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        block titleContent
        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/vendor/angular-ui-tree/angular-ui-tree.min.css')
        link(rel='stylesheet', href='/node_modules/angular-ui-grid/ui-grid.min.css')
        link(rel='stylesheet', href='/dist/neptune-ui.css')
        link(rel='stylesheet', href='/vendor/ui-select/select.min.css')
        link(rel='stylesheet', href='/stylesheet/app.css')
    body.container-fluid

        script(src="/vendor/jQuery/jQuery-2.1.4.min.js")
        script(src="/node_modules/angular/angular.min.js")
        script(src="/node_modules/angular-messages/angular-messages.min.js")
        script(src="/node_modules/angular-animate/angular-animate.min.js")
        script(src="/node_modules/angular-route/angular-route.min.js")
        script(src="/node_modules/angular-sanitize/angular-sanitize.min.js")
        script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
        script(src="/node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.min.js")
        script(src="/vendor/angular-ui-tree/angular-ui-tree.min.js")
        script(src="/js/angular-filter.min.js")
        script(src="/vendor/angular-form-for/form-for.js")
        script(src="/vendor/angular-form-for/form-for.bootstrap-templates.js")
        script(src="/vendor/angular-form-for/form-for.js")
        script(src="/vendor/angular-formly/api-check.js")
        script(src="/vendor/angular-formly/formly.js")
        script(src="/vendor/angular-formly-templates-bootstrap/angular-formly-templates-bootstrap.js")
        script(src="/node_modules/angular-ui-grid/ui-grid.js")
        script(src="/vendor/ui-select/select.min.js")
        script(src="/node_modules/angular-input-masks/releases/angular-input-masks-standalone.min.js")
        script(src="/vendor/ui-mask/mask.min.js")
        script(src="/vendor/ng-context-menu/ng-context-menu.js")
        script(src="/node_modules/is_js/is.js")
        script(src="/vendor/js-pinyin/pinyin.min.js")
        script(src="/dist/zwx-neptune.js")
        block content