//
   Created by leon on 15/10/28.

extends layout/layout

block content
    script(src="/js/datatable-store.js")
    script(src="/js/form-store-demo.js")
    script(src="/js/datatable.js")
    div(ng-app="datatableDemo")
        div.page-header
            h1 数据表格

        div(ng-controller="DatatableDemoController")
            npt-datatable(name="demodt",controller="datatableController",is-pagination="true",items-per-page="10",data="data",is-index="true",on-action="orderAction(action,item,index)",on-add-listens="onAddListens",on-del-listens="onDelListens",on-edit-listens="onEditListens")