//
   Created by leon on 15/10/28.

extends layout

block content
    script(src="/datatable/datatable.js")
    script(src="/js/datatable/datatable.js")
    div(ng-app="datatableDemo")
        div.page-header
            h1 数据表格

        script(type="text/ng-template",id="datatable-template.html")
            div
                div.row(style="padding-top:10px;")
                    div.col-md-12
                        //设置为响应式表格 当页面宽度不够显示表格内容时会出现滚动条
                        div.table-responsive
                            //table-striped表示隔行显示不同颜色条纹；table-hover鼠标悬停变色；table-bordered表格线框;table-condensed紧缩表格
                            table.table.table-striped.table-bordered.table-hover.table-condensed
                                //添加表格脚部，用于分页选
                                tbody
                                    tr
                                        th.text-center(ng-if="config.index") 序号
                                        th.text-center(ng-repeat="item in config.header") {{item.label}}
                                        th.text-center(ng-if="config.actions.length>0") 操作
                                    tr(ng-repeat="row in config.rows")
                                        th(ng-if="config.index") {{($index+1)+(page.currPage * page.rowNum - page.rowNum )}}
                                        td(ng-repeat="item in row") {{item.value}}
                                        td(ng-if="config.actions.length>0")
                                            a.btn.btn-primary.btn-sm(ng-repeat="action in config.actions",href="",ng-click="doAction(action.name)") {{action.label}}

        div(ng-controller="DatatableDemoController")
            y9ui-datatable(template-url="datatable-template.html",config="orderConfig",action="orderAction(type)") 测试