//
   Created by leon on 15/11/9.

extends layout/layout
block content
    h1 Formly组件Demo
    ul.list-group
        li.list-group-item
            a(href="/formly-integration/ui-select") 下拉框(UI-SELECT)
        li.list-group-item
            a(href="/formly-integration/ui-mask") 真实值-显示值(UI-MASK)
        li.list-group-item
            a(href="/formly-integration/default-value") 默认值
        li.list-group-item
            a(href="/formly-integration/validation") 验证
        li.list-group-item
            a(href="/formly-integration/ui-cache-filter") 缓冲数据过滤器
        li.list-group-item
            a(href="/formly-integration/npt-select-image") 图片选择器
        li.list-group-item
            a(href="/formly-integration/npt-select-tree") 树形选择器
        li.list-group-item
            a(href="/formly-integration/npt-upload") 文件上传
        li.list-group-item
            a(href="http://angular-formly.com/#/example",target="_blank") 官网样例
