//
   Created by leon on 15/10/29.

extends layout/layout
block content
    script(src="/js/form.js")

    div(ng-app="formDemo")
        div.page-header
            h1 表单

        div.row
            div.col-md-12(ng-controller="FormDemoController")
                npt-form(data="data", on-click-action="onClickForm(item)")