//
   Created by leon on 15/10/29.

extends layout/layout
block content
    script(src="/js/form.js")

    div(ng-app="formDemo")
        div.page-header
            h1 表单
        div.row
            div.col-md-12(ng-controller="FormDemoController as vm")
                a.btn.btn-primary(href="",ng-click="vm.submit()",ng-disabled="vm.nptFormApi.form.$invalid || vm.nptFormApi.loading()") 提交表单
                a.btn.btn-primary(href="",ng-click="vm.reset()") 重置表单

                div(npt-form="vm.options",model="vm.model")