//
   Created by leon on 15/10/28.

extends layout/layout

block content
    h1 Y9 UI 组件演示
    ul.list-group
        li.list-group-item
            a(href="/datatable") 数据表格
        li.list-group-item
            a(href="/form") 表单
        li.list-group-item
            a(href="/selectTree") 树形选择
<<<<<<< HEAD

        li.list-group-item
            a(href="/formFor") FormFor
=======
        li.list-group-item
            a(href="/bizvalidator") 业务数据验证器
        li.list-group-item
            a(href="/bizfilter") 业务数据过滤器
>>>>>>> 3081924d26a4a5296becf9e9ff93886d72250da6
