//
   Created by leon on 15/10/28.

extends layout/layout

block content
    h1 Y9 UI 组件演示
    ul.list-group
        li.list-group-item
            a(href="/datatable") 数据表格
        li.list-group-item
            a(href="/npt-grid") NPT Grid
        li.list-group-item
            a(href="/form") 表单
        li.list-group-item
            a(href="/selectTree") 树形选择
        li.list-group-item
            a(href="/formFor") FormFor
        li.list-group-item
            a(href="/bizvalidator") 业务数据验证器
        li.list-group-item
            a(href="/bizfilter") 业务数据过滤器
        li.list-group-item
            a(href="/formly-example") Formly
        li.list-group-item
            a(href="/formly-integration") Formly集成
        li.list-group-item
            a(href="/repository") 资源仓库(Repository)
        li.list-group-item
            a(href="/session-demo") Session
        li.list-group-item
            a(href="/select-image") 选择图片
        li.list-group-item
            a(href="/npt-upload") 上传文件
        li.list-group-item
            a(href="/npt-message-box") 弹出窗
