//
   Created by leon on 15/10/28.

extends layout/layout

block content
    h1 Y9 UI 组件演示
    ul.list-group
        li.list-group-item
            a(href="/datatable") 数据表格
        li.list-group-item
            a(href="/treeselect") 树形选择