//
   Created by leon on 15/10/28.

extends layout/layout

block content
    script(src="/js/npt-grid.js")
    div(ng-app="nptGridApp")
        div.page-header
            h1 NPT Grid

        div(ng-controller="nptGridDemoController as vm")
            div(npt-grid="vm.nptGridOptions",model="vm.model",npt-loading="{showMask:vm.isLoading(),message:'啦啦啦',fullScreen:true}")
            | hello
