//
   Created by leon on 15/10/29.
extends layout/layout
block content
    script(src="/js/repository.js")
    div(ng-app="repositoryDemo",ng-controller="RepositoryDemoController as vm")
        div.page-header
            h1 资源仓库
        div.row
            div.col-md-12
                div(ng-if="vm.order.loading()")
                    p 正在加载...
                div(ng-if='!vm.order.loading()')
                    button.btn.btn-primary(type="button",ng-click="vm.post()") Post

                    button.btn.btn-primary(type = "button",ng-click= "vm.next()") 下一个

                    button.btn.btn-primary(type = "button",ng-click= "vm.previous()") 上一个

                    pre {{vm.currdata.id}}

        div.row
            div.col-md-12
                pre {{vm.order.$$state}}

                pre {{vm.data}}

                pre {{vm.cache}}




