//
   Created by leon on 15/10/28.
extends layout/layout
block content
    script(src="/js/select-tree.js")
    div(ng-app="treeSelectDemo")
        div.page-header
            h1 树形选择
        div(ng-controller="treeSelectDemoController as vm")
            button.btn.btn-primary(type="button",ng-click="vm.show()") 打开窗口
            div(npt-select-tree="vm.selectTreeSetting")
            p 选择内容:{{item}}
