div
    style.
        .message-container{
            border-radius: 3px;
            background-color: #474747;
            width: 110px;
        }
        .img-center{
            margin:15px 30px 0;
            width: 50px;
            height: 50px;
        }
        .message{
            font-size: 16px;
            text-align: center;
            padding: 15px 5px;
            margin: 0;
            color: white;
        }

    div#loadingmessagebox.message-container
        img.img-center(src="/image/loading.gif")
        p.message {{vm.modalOptions.title}}
    script.
        window.onload = function(){
            var screenWidth = window.document.documentElement.clientWidth;
            var screenHeight = window.document.documentElement.clientHeight;
            var box = window.document.getElementById('loadingmessagebox');
            box.style.marginTop = (screenHeight - box.offsetHeight) / 2;
            box.style.marginLeft = (screenWidth - box.offsetWidth) / 2;
        }

