div(style="display:inline!important;")
    button.btn.btn-primary(type="button",ng-click="vm.uploadImage()",ng-if="vm.isUploadImage") 上传图片
    | &nbsp;
    button.btn.btn-primary(type="button",ng-click="vm.uploadDoc()",ng-if="vm.isUploadDoc") 上传文档
    | &nbsp;
    button.btn.btn-primary(type="button",ng-click="vm.uploadOther()",ng-if="vm.isUploadOther") {{vm.options.otherUpload.title}}