div
   div(id="ossfile")
   br
   div(id="container")
      button(id="selectfiles",type="button",class="btn btn-primary") 选择文件
      |&nbsp;
      button(id="postfiles",type="button",class="btn btn-primary") 开始上传