div
   //div(npt-upload="vm.uploadOptions",template-url="/template/upload/empty-upload.html")

   div.input-group
      input.form-control(placeholder="{{to.placeholder}}",type="text",ng-model="vm.viewValue")
      span.input-group-btn
         button.btn.btn-primary(id="selectfiles_{{options.key}}",type="button",ng-click="vm.onClickUpload()") 选择