<form class="form-horizontal">
    <div class="form-group" ng-repeat="item in config">
        <label for="{{item.name}}" class="col-sm-2 control-label">{{item.label}}</label>

        <div class="col-sm-10">
            <input type="{{item.type || text}}" class="form-control" id="{{item.name}}" placeholder="{{item.label}}"
                   value="{{data[item.name]}}"/>
        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">

            <button type="button" class="btn btn-primary" ng-click="doSave()">保存</button>
            &nbsp
            <button type="button" class="btn btn-primary" ng-click="doReset()">重置</button>
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            <button type="button" class="btn btn-default" ng-repeat="item in action" ng-click="doAction(item)">
                {{item.label}}
            </button>
        </div>
    </div>
</form>

