//
   Created by huangbinglong on 15/11/12.
extends ../layout/layout
block content
   script(src="/js/formly-validation.js")
   div(ng-app="formlyExample")
      div.page-header
         h1 验证器
      div(ng-controller="formlyExampleController as vm")
         form(ng-submit="vm.onSubmit()",name="vm.form",novalidate)
            formly-form(model="vm.model",fields="vm.fields",options="vm.options",form="vm.form")
               button.btn.btn-primary(type="submit") 确定
               button.btn.btn-default(type="button",ng-click="vm.options.resetModel()") 重置
         hr
         h2 optionsTypes支持的类型
         pre
            | boolean
            | date // Date
            | nan // NaN
            | null
            | string
            | char
            | undefined
            | empty
            | existy // not null,not undefinder
            | truthy // 有值
            | space
            | url
            | email
            | creditCard
            | timeString
            | dateString
            | hexColor
            | ip
            | bizValidator //异步资源验证
         h2 异步资源验证器的配置
         pre
            | {
            |  key: 'ctrlCode',
            |  type: 'input',
            |  optionsTypes: ['bizValidator'],// 必须填写这个类型，bizValidator
            |  templateOptions: {
            |     label: '异步验证控制编码',
            |     placeholder: 'once',
            |     reversal: false,           // 是否反转，默认false，默认是查询得到结果返回true，反转后，将结果反转
            |     searchProp:"no",           // 需要查询的字段名称
            |     repository: QueryCtrlCode, // 资源Factory
            |     repositoryParams: {"defno": "cycle"}   // 资源查询时固定参数
            |  }
            | }
         h2 Model Value
         pre
            | {{vm.model | json}}
         h2
            | Fields
            small (note, functions are not shown)
         pre
            | {{vm.originalFields | json}}
