div
    div.modal-header
        button.close(type='button',ng-click="vm.cancel()",aria-label="关闭")
            span &times
        h4.modal-title 编辑
    div.modal-body
        form(name="vm.form",novalidate)
            formly-form(model="vm.model",fields="vm.fields",form="vm.form")
    div.modal-footer
        button.btn.btn-primary(type="button",ng-disabled="vm.form.$invalid",ng-click="vm.ok()") 确定
        button.btn.btn-danger(type="button",ng-click="vm.options.resetModel()") 重置
        button.btn.btn-warning(type="button",ng-click="vm.cancel()") 取消
